.pulumi
**/bin/
**/obj/
**/node_modules/
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
**/examples/**/**/yarn.lock
package-lock.json
.idea/
**/version.txt
**/dist
.DS_Store

ci-scripts/
*.tar.gz

# for goreleaser
/goreleaser
/package.json
/PulumiPlugin.yaml

**/venv

sdk/java/build
sdk/java/.gradle
sdk/java/gradle
sdk/java/gradlew
sdk/java/gradlew.bat
