.pulumi
**/bin/
**/obj/
**/node_modules/
vendor/
**/Pulumi.*.yaml
**/yarn-error.log
yarn.lock
.idea/
**/version.txt
**/dist

ci-scripts/
*.tar.gz

# for goreleaser
/goreleaser
/package.json
/PulumiPlugin.yaml
